@import "tailwindcss";

@theme {
  --font-sans: 'Work Sans Variable', sans-serif;
  --font-serif: 'Montserrat Variable', sans-serif;
  --breakpoint-md: 640px;
  --breakpoint-2md: 800px;
  --breakpoint-3md: 960px;
  --breakpoint-lg: 1024px;
  --breakpoint-3xl: 1920px;
  /* --color-primary-light: #F2F3F7; */
  /* --color-primary-dark: #0A284c; */
  /* --color-accent-dark: #BFA06E; */
  /* --color-secondary-light: #EFF0F4 ;          */
}


table {
@apply mb-4;
  @apply rounded border border-gray-300 shadow-sm;
}

html, body {
  @apply !w-full !min-w-full m-0 p-0 font-sans;
}
.card {
  @apply p-6 border-gray-600 border-solid border-1; 
}

section p:last-child {
  margin-bottom: 0;
}

a {
    @apply text-blue-600;
    @apply cursor-pointer;

  }
  a svg {
    color: initial;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    @apply  font-serif font-bold;
  }
  body {
    @apply text-xl leading-[30px];
    @apply overflow-x-hidden;
  }
  p {
    @apply mb-4 sm:mb-5 md:mb-6;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl md:text-4xl;
    @apply mb-4 sm:mb-5 md:mb-6;
  }
  h3 {
    @apply text-xl md:text-2xl;
    @apply mb-5 sm:mb-5 md:mb-6;
  }
  h4 {
    @apply text-lg md:text-xl;
    @apply mb-4 sm:mb-5 md:mb-6;
  }
  ul {
    @apply list-disc;
    @apply mb-6;
    @apply mt-1;
  }
  ol {
    @apply list-decimal;
    @apply mb-6;
  }

  li {
    @apply ml-6 md:mx-10;
    @apply mb-3;
  }
  
  hr {
  }
  a {
  }

  .tab-contents > div {
    display: none;
  }

  .tab-contents > div.active {
    display: block;
  }

  .tab-buttons button {
    @apply border-b-2 border-transparent px-4 py-2 text-2xl font-medium text-gray-600 transition-colors hover:text-gray-700 cursor-pointer;
  }

  .tab-buttons button.active {
    @apply border-b-blue-600 text-blue-600  transition-colors hover:text-blue-700 cursor-pointer ;
    font-weight: bold;
    border-bottom: 2px solid black;
  }

table {
  @apply min-w-full divide-y-2 divide-gray-200;

  border-collapse: collapse;
}

tr {
  @apply flex flex-col md:flex-row

}

 tr th {
  @apply !bg-gray-100 min-w-full;

}

th, td {
  @apply px-3 py-2 whitespace-nowrap; 
}

th {
  @apply font-medium text-gray-900 text-left;
}


