@import "tailwindcss";

@theme {
  --font-sans: 'Roboto Variable', sans-serif;
  --font-serif: 'Montserrat Variable', sans-serif;
  --breakpoint-md: 640px;
  --breakpoint-lg: 1024px;
  --text-md: 21px;              
  --text-2md: 18px;             
  --text-3md: 17px;              
  --text-4md: 16px;
  --text-sm: 15px;
  --text-2sm: 13px;
  --text-3sm: 12px;
  --color-black: #1a1d27;
  --color-primary-dark: #008235;
  --color-primary-light: #e1fceA;
  --color-secondary-light: #efefef; 
  --color-accent-dark: #312b85;
  --color-accent-darker: #372aab;
}

@layer base {
  .text-2sm {
    @apply leading-[16px]
  }
  .max-w-desktop {
    max-width: 1080px;
  }

  html, body {
    @apply !w-full !min-w-full m-0 p-0 font-sans !text-md !text-black;
    text-rendering: optimizelegibility
  }

  section p:last-child {
    margin-bottom: 0;
  }

  a, .read-more {
    @apply text-accent-darker;
    @apply cursor-pointer;
  }

  .read-more {
    @apply uppercase
  }

  a svg {
    color: initial;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    @apply font-serif font-bold;
  }

  body {
    @apply text-xl leading-[30px];
    @apply overflow-x-hidden;
  }

  p {
    @apply mb-4 sm:mb-5 md:mb-6;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl mb-2;
  }

  h3 {
    @apply text-xl mb-2;
  }

  h4 {
    @apply text-md mb-2 ;
  }

  ul {
    @apply list-disc;
    @apply mb-6;
    @apply mt-1;
  }

  ol {
    @apply list-decimal;
    @apply mb-6;
  }

  li {
    @apply ml-6 md:mx-10;
    @apply mb-3;
  }
  
  hr {
  }

  a {
  }




details:last-of-type summary {
  list-style: none;
  &::after {
    content: "+";
    border-radius: 1em;
    font-weight: bold;
    padding: 0 5px;
    margin-inline-start: 5px;
  }
  [open] &::after {
    content: "−";
  }
}

details:last-of-type summary::-webkit-details-marker {
  display: none;
}

}

table {
@apply mb-4 rounded border border-gray-300 shadow-sm;
  @apply min-w-full divide-y-2 divide-gray-200 border-collapse;
}

@layer components {
  .tab-contents > div {
    display: none;
  }

  .tab-contents > div.active {
    display: block;
  }

  .tab-buttons button {
    @apply border-b-2 border-transparent px-4 py-2 text-2xl font-medium text-gray-600 transition-colors hover:text-gray-700 cursor-pointer;
  }

  .tab-buttons button.active {
    @apply border-b-blue-600 text-blue-600  transition-colors hover:text-blue-700 cursor-pointer ;
    font-weight: bold;
    border-bottom: 2px solid black;
  }

  .card {
    @apply p-6 border-primary-dark border-solid border-1; 
  }



table.loan-specs {
  @apply min-w-full divide-y-2 divide-gray-200 border-collapse !mb-3;
  tr {
    @apply flex flex-col md:flex-row;
  }

  tr th {
    @apply !bg-primary-light min-w-full;
  }

  th,
  td {
    @apply px-3 py-2 whitespace-nowrap;
  }

  th {
    @apply font-medium text-gray-900 text-left;
  }
  }

table.lenders-list {
    @apply min-w-full;
    @apply border-t  border-solid border-indigo-500;

  td {
    @apply p-3 text-3md text-center;

  }
  th {
    @apply bg-primary-dark text-white py-3  font-serif !text-3md font-medium; 
  }

  tr {
    @apply border-t border-gray-300;
  }
}
table.lender-card-specs {
    @apply min-w-full !border-0 !border-none border-collapse !shadow-none;

  td {
    @apply py-2 px-3 text-sm;
      @apply w-1/2;

  }

  tr {
     @apply border-b border-b-secondary-light border-solid; 
  }
tr > td:nth-child(2) {
      @apply text-left;

      @apply font-medium;
}
}
}








