---
import Welcome from "../components/Welcome.astro";
import Layout from "../components/Layout.astro";
import Section from "../components/Section.astro";
import HygraphSlices from "../components/HygraphSlices.astro";
import { getPageBySlug, landingPages, lenderProfiles } from "../hypgrah.js";
const page = await getPageBySlug("home");

const profiles = lenderProfiles.map((profile) => {
  return { ...profile };
});
---

<Layout metaTitle={page.metaTitle}>
  <HygraphSlices slices={page.content} />
  <Section>
    <h2>Recently Added</h2>
    <ul>
      {
        profiles.map((p) => {
          return (
            <li>
              <a href={`/profile/${p.slug}`}>{p.name}</a>
            </li>
          );
        })
      }
    </ul>
  </Section>
</Layout>
