---
const { data, icon = "checkmark" } = Astro.props;
import { Icon } from "astro-icon/components";
---

<ul class="m-0">
  {
    data.map((item) => {
      return (
        <li class="grid grid-cols-[24px_auto] items-start gap-3 m-0 p-0 !mx-0 md:!mx-1 !mb-6 !mt-4">
          <Icon name={icon} class="w-5 h-5 mt-[-2px]" />
          <span class="leading-[24px]">{item}</span>
        </li>
      );
    })
  }
</ul>
