---
import OnlyText from "./OnlyText.astro";
import Section from "./Section.astro";
const { slices } = Astro.props;
---

{
  slices &&
    slices.length &&
    slices.map((slice, index) => {
      const type = slice.__typename;
      const isEven = index % 2 === 0;
      const background_color = !isEven ? "dark" : "light";
      if (type === "TextWithTitleSlice") {
        return (
          <Section background={background_color}>
            <OnlyText
              headlinesClass="text-left"
              title={slice.title}
              body={slice.body.markdown}
            />
          </Section>
        );
      }
    })
}
