---
import "../styles/global.css";
import Section from "../components/Section.astro";
import FooterMenu from "../components/FooterMenu.astro";
import { settings } from "../prismic.js";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>MoolahList</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="min-h-screen flex flex-col w-full min-w-screen">
    <div class="w-full mx-0 mt-3 mb-0 border-b border-gray-200 p-3">
      <a href="/"
        ><img
          class="mx-auto"
          alt="MoolahList.com logo"
          src="/images/logo.png"
          width="150"
          class="m-3"
        /></a
      >
    </div>
    <div>
      <slot />
    </div>
    <div class="mx-auto border-t border-gray-200 w-full mt-16">
      <div class="mx-auto max-w-[500px]">
        <FooterMenu orderClass="order-2" items={settings.data.nav_links_1} />
      </div>
    </div>
  </body>
</html>
