---
const { label, prefix, smallStat = "", stat } = Astro.props;
---

<div class="aspect-square relative bg-blue-100 text-center">
  <div class="absolute inset-0 flex items-center justify-center">
    <span class="text-lg leading-[115%] lg:!text-3xl font-bold">{stat}</span>
  </div>

  <span
    class="absolute bottom-1 lg:bottom-4 left-1/2 -translate-x-1/2 text-sm text-gray-500"
  >
    {label}
  </span>
</div>
