---
const { asRowOnMobile = false, name, value, condition } = Astro.props;
const mobileClass = asRowOnMobile ? "flex-row" : "flex-col";
---

{
  condition ? (
    <tr class={`flex ${mobileClass} md:flex-row justify-between max-w-full`}>
      <td class="px-1 py-1 break-words whitespace-normal font-medium">
        {name}
      </td>
      <td class="px-1 py-1 break-words whitespace-normal">{value}</td>
    </tr>
  ) : null
}
