---
const { asRowOnMobile = false, name, value, condition } = Astro.props;
const mobileClass = asRowOnMobile ? "flex-row" : "flex-col";
---

{
  condition ? (
    <tr class={`flex ${mobileClass} md:flex-row justify-between`}>
      <td class="px-0 py-1">{name}</td>
      <td class="px-0 py-1">{value}</td>
    </tr>
  ) : null
}
