---
const { name, value, condition } = Astro.props;
---

{
  condition ? (
    <tr class="flex flex-col md:flex-row justify-between">
      <td class="font-[600]">{name}</td>
      <td>{value}</td>
    </tr>
  ) : null
}
